/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App {
  /* text-align: center; */
  background-image: url(../src/background.jpg);
  width: 34%;
  height: 100%;
  color: white;
  border-radius: 5%;
}
.title{
  text-align: center;
}
.global{
  display:flex;
  justify-content: space-around;
  font-size: 23px;
  
}
.box{
  justify-content: space-between;
  display: flex;
  margin-bottom: 12%;
}
.info-card{
  display: flex; 
  justify-content: space-around;
  width: 29%;
}
.num{
  font-size: 70%;
  margin-top: -14%;
}
.size{
  font-size: 30%;
}
.back{
  font-size: 130%;
  color: #b8bc7a;
  background:  #307e72;
}
.App-logo {
  margin-left: 7%;
  border-radius: 15%;
  margin-bottom: 5%;
}
/* .icoo{
  display: flex;
} */
.bloc{
  margin-top: -16%;
}
.App-logo2{
margin-top: 4%;
}